################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/eCartAPI/.vs
/eCartAPI/BAL/obj
/eCartAPI/eCartAPI/bin/Debug/net8.0
/eCartAPI/eCartAPI/obj
